@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
    padding: 0;
    margin: 0;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #cecece #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 2vw;
}

*::-webkit-scrollbar-thumb {
    background-color: #cecece;
    border-radius: 10px;
}

